Django==5.1.7
djangorestframework==3.15.0
django-cors-headers==4.7.0
psycopg2-binary==2.9.10
whitenoise==6.9.0
gunicorn==21.2.0
dj-database-url==2.1.0
python-dotenv==1.0.0
pandas==2.2.3 --only-binary=:all:
numpy==2.2.6 --only-binary=:all: