{% extends 'base.html' %}

{% block content %}
    <div class='div_flex'>
        <h1>Dashboard - Olá, {{ user.username }}!</h1>
        <a href="{% url 'admin:index' %}" class="btn btn-primary">Gerenciamento de Sistema</a>
    </div>
    <hr>
    <div class="container mt-4">       
        <div class="row">
            <!-- Card para a quantidade de livros -->
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Livros Cadastrados</h5>
                        <p class="card-text">{{ livros_count }}</p>
                    </div>
                </div>
            </div>
            
            <!-- Card para a quantidade de alunos -->
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Alunos Cadstrados</h5>
                        <p class="card-text">{{ alunos_count }}</p>
                    </div>
                </div>
            </div>

            <!-- Card para os empréstimos realizados -->
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Empréstimos Realizados</h5>
                        <p class="card-text">{{ emprestimos_count }}</p>
                    </div>
                </div>
            </div>

            <!-- Card para as categorias mais emprestadas -->
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Categorias Cadastradas</h5>
                        <p class="card-text">{{ categorias_count }}</p>
                    </div>
                </div>
            </div>

            <!-- Card para a quantidade de editoras -->
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Editoras Cadastradas</h5>
                        <p class="card-text">{{ editoras_count }}</p>
                    </div>
                </div>
            </div>

            <!-- Card para os empréstimos ativos -->
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Empréstimos Ativos</h5>
                        <p class="card-text">{{ emprestimos_ativos_count }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
