{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'sala_leitura/js/cadastro.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom">
        <h3 class="mb-0">Cadastros</h3>
    </div>
    <div class="card-body">
        <!-- Abas de seleção -->
        <div class="aba-container">
            <div class="abas">
                <button class="aba-btn" onclick="exibirFormulario('livros')" id="aba-livros">Livros</button>
                <button class="aba-btn" onclick="exibirFormulario('alunos')" id="aba-alunos">Alunos</button>
                <button class="aba-btn" onclick="exibirFormulario('editoras')" id="aba-editoras">Editoras</button>
            </div>
        </div>
        <!-- Listagens do itens cadastrados -->
        <div class='listagens active'> 
            <!-- Formulários de Cadastro -->
            <div id="form-livros"  class="formulario-cadastro" style="display:none ">
                <form method="post" action="?modelo=livros">
                    {% csrf_token %}
                    {{ form_livros.as_p }}  <!-- Exibe o formulário de livros aqui -->
                    <button type="submit" class="btn btn-success" alt='Salvar'>
                        <i class="fas fa-circle-check"></i> Salvar</button>
                </form>
            </div>
            <div id="form-alunos"  class="formulario-cadastro" style="display:none;">
                <form method="post" action="?modelo=alunos"> 
                    {% csrf_token %}
                    {{ form_alunos.as_p }}  <!-- Exibe o formulário de alunos aqui -->
                    <button type="submit" class="btn btn-success" alt='Salvar'>
                        <i class="fas fa-circle-check"></i> Salvar</button>
                </form>
            </div>
            <div id="form-editoras" class="formulario-cadastro" style="display:none;">
                <form method="post" action="?modelo=editoras">
                    {% csrf_token %}
                    {{ form_editoras.as_p }}  <!-- Exibe o formulário de editoras aqui -->
                    <button type="submit" class="btn btn-success" alt='Salvar'>
                        <i class="fas fa-circle-check"></i> Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


