{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'sala_leitura/js/consulta.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom">
        <h3 class="mb-0">Consultas</h3>
    </div>
    <div class="card-body">
        <!-- Abas de seleção -->
        <div class="aba-container">
            <div class="abas">
                <button class="aba-btn" onclick="exibirLista('livros')" id="aba-livros">Livros</button>
                <button class="aba-btn" onclick="exibirLista('alunos')" id="aba-alunos">Alunos</button>
                <button class="aba-btn" onclick="exibirLista('editoras')" id="aba-editoras">Editoras</button>
                <button class="aba-btn" onclick="exibirLista('categorias')" id="aba-categorias">Categorías</button>
            </div>
            <!-- Listagem dos itens cadastrados -->
            <div class="listagens">
                <div id="list-livros" class="listagem" style="display:none;">
                    {% include "lista_livros.html" %}
                </div>
                <div id="list-alunos" class="listagem" style="display:none;">
                    {% include "lista_alunos.html" %}
                </div>
                <div id="list-editoras" class="listagem" style="display:none;">
                    {% include "lista_editoras.html" %}
                </div>
                <div id="list-categorias" class="listagem" style="display:none;">
                    {% include "lista_categorias.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}