{% extends 'base.html' %}

{% block content %}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom">
        <h3 class="mb-0">Detalhes do Livro</h3>
    </div>
    <div class="card-body">
        <!-- Seu conteúdo aqui -->
        <p><strong>Tombo:</strong> {{ livro.tombo|date:"d/m/Y" }}</p>
        <p><strong>Registro:</strong> {{ livro.registro }}</p>
        <p><strong>Autor:</strong> {{ livro.autor }}</p>
        <p><strong>Título:</strong> {{ livro.titulo }}</p>
        <p><strong>Ano:</strong> {{ livro.ano }}</p>
        <p><strong>Edição:</strong> {{ livro.edicao }}</p>
        <p><strong>Volume:</strong> {{ livro.vol }}</p>
        <p><strong>Editora:</strong> {{ livro.editora }}</p>
        <p><strong>Categoria:</strong> {{ livro.categoria }}</p>
        <p><strong>Exemplar(es):</strong> {{ livro.exemplar }}</p>
        <p><strong>Aquisição:</strong> {{ livro.aquisicao }}</p>
        <p><strong>Obs:</strong> {{ livro.observacao }}</p>
        <a href="{% url 'consulta' %}" class='btn btn-primary'>Voltar</a>
        <a href="{% url 'consulta' %}" class='btn btn-warning'>Editar</a>
        <a href="{% url 'consulta' %}" class='btn btn-danger'>Excluir</a>
    </div>
</div>
{% endblock content %}