{% extends 'base.html' %}

{% block content %}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom">
        <h3 class="mb-0">Detalhes do Aluno(a)</h3>
    </div>
    <div class="card-body">
        <p><strong>Nome:</strong> {{ aluno.nome }}</p>
        <p><strong>Registro:</strong> {{ aluno.ra }}</p>
        <p><strong>Nascimento:</strong> {{ aluno.data_nasc|date:"d/m/Y" }}</p>
        <p><strong>Sexo:</strong> {{ aluno.sexo }}</p>
        <a href="{% url 'consulta' %}" class='btn btn-primary'>
            <i class="fas fa-arrow-left"></i> Voltar</a>
        <a href="{% url 'editar_aluno' aluno.id %}" class='btn btn-warning'>
            <i class="fas fa-pen"></i> Editar</a>
        <button class='btn btn-danger' data-bs-toggle="modal" data-bs-target="#confirmarExclusao">
            <i class="fas fa-trash"></i> Excluir</button>
    </div>
</div>

<!-- Modal de Confirmação de Exclusão -->
<div class="modal fade" id="confirmarExclusao" tabindex="-1" aria-labelledby="confirmarExclusaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarExclusaoLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir o(a) aluno(a)  "{{ aluno.nome }}"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url 'excluir_aluno' aluno.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}