{% extends 'base.html' %}

{% block content %}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom">
        <h3 class="mb-0">Editar Aluno(a)</h3>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i> Salvar Alterações</button>
            <a href="{% url 'detalhes_aluno' aluno.id %}" class="btn btn-danger">
                <i class="fas fa-xmark"></i> Cancelar</a>
        </form>
    </div>
</div>
{% endblock content %}