{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Empréstimos</title>
    <script src="{% static 'sala_leitura/js/emprestimo.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom">
        <h3 class="mb-0">Empréstimos</h3>
    </div>
    <div class="card-body">
        <!-- Seu conteúdo aqui -->
        <div class='div_flex'>
            <button class='btn btn-primary' onclick="mostrarNovoEmprestimo()">Novo Empréstimo</button>
            <button class='btn btn-primary' onclick="mostrarEmprestimosAtivos()">Empréstimos Ativos</button>
        </div>
        <div id="novo-emprestimo-form" style="display: none;">
            <h2>Novo Empréstimo</h2>
            <hr>
            <form method="post" action="{% url 'emprestimo' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class='btn btn-primary' type="submit">Gerar Empréstimo</button>
            </form>
        </div>
    
        <div id="emprestimos-ativos" style="display: none;">
            <h2>Empréstimos Ativos</h2>
            <hr>
            <div class="row">
                {% for emprestimo in emprestimos %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-header bg-white">
                            <h5 class="card-title mb-0">{{  emprestimo.livro.titulo }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-1"><strong>Aluno:</strong></p>
                                    <p class="mb-1"><strong>Status:</strong></p>
                                    <p class="mb-1"><strong>Data:</strong></p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-1">{{ emprestimo.aluno.nome }}</p>
                                    <p class="mb-1">{% if emprestimo.ativo %}Ativo{% else %}Inativo{% endif %}</p>
                                    <p class="mb-1">{{ emprestimo.data_emprestimo }}</p>
                                </div>
                                <div class="card-footer bg-white">
                                    {% if emprestimo.ativo %}
                                        <a href="{% url 'devolver_livro' emprestimo.id %}" class="btn btn-sm btn-outline-primary">Devolver</a>
                                    {% endif %}  
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12">
                    <div class="alert alert-info">Nenhum aluno encontrado.</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
