{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Empréstimos</title>
    <script src="{% static 'sala_leitura/js/emprestimo.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom">
        <h3 class="mb-0">Empréstimos</h3>
    </div>
    <div class="card-body">
        <!-- Abas de seleção -->
        <div class="aba-container">
            <div class="abas">
                <button class="aba-btn" onclick="mostrarNovoEmprestimo()"> Novo </button>
                <button class="aba-btn" onclick="mostrarEmprestimosAtivos()"> Ativo </button>
                <button class="aba-btn" onclick="mostrarHistoricoEmprestimos()"> Histórico </button>
            </div>
        </div>
        <!-- Listagens do itens cadastrados -->
        <div class='listagens'>
            <div id="novo-emprestimo-form" style="display: none;">
            <!-- Formulário para novo empréstimo -->
                <form method="post" action="{% url 'emprestimo' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class='btn btn-success' type="submit">
                        <i class="fas fa-circle-check"></i> Gerar Empréstimo</button>
                </form>
            </div>
        
            <div id="emprestimos-ativos" style="display: none;">
                {% include "lista_emprestimos_ativos.html" %}
            </div>

            <div id="historico-emprestimos" style="display: none;" >
                {% include "lista_emprestimos.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
