{% extends 'base.html' %}

{% block content %}

<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom">
        <h3 class="mb-0">Bem-vindo à Sala de Leitura</h3>
    </div>
    <div class="card-body">
        <!-- Seu conteúdo aqui -->
        <p class="lead">Gerencie seus empréstimos de livros de forma fácil e rápida.</p>
        <hr class="my-4">
        <p>Explore nossos livros disponíveis e faça seus empréstimos.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Entrar</a>
        <a class="btn btn-primary btn-lg" href="{% url 'signin' %}" role="button">Cadastrar</a>
    </div>
</div>

{% endblock %}

