{% block content %}
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.tipo }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">Nenhuma categorias encontrada.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}