{% extends 'base.html' %}

{% block content %}
    <div class='div_flex'>
        <h2>Histórico de Empréstimos</h2>
        <a href="{% url 'consulta' %}">Voltar</a>
    </div>
    <hr>
    <!-- Formulário de Filtro -->
    <form method="GET" action="{% url 'lista_emprestimos' %}" class="form-inline mb-3">
        <div class='div_filter'>
            <label for="filtro" class="mr-2">Filtros:</label>
            <select name="filtro" id="filtro" class="form-control mr-2">
                <option value="">Selecione...</option>
                <option value="aluno" {% if request.GET.filtro == 'aluno' %}selected{% endif %}>Aluno</option>
                <option value="titulo" {% if request.GET.filtro == 'titulo' %}selected{% endif %}>Título</option>
                <option value="data_devolucao" {% if request.GET.filtro == 'data_devolucao' %}selected{% endif %}>Data de Devolução</option>
            </select>
        
            <input type="text" name="valor" id="valor" class="form-control mr-2" value="{{ request.GET.valor }}">
        
            <button type="submit" class="btn btn-primary">Aplicar Filtro</button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Título do Livro</th>
                <th>Data de Empréstimo</th>
                <th>Data de Prev</th>
                <th>Data Devolução</th>
            </tr>
        </thead>
        <tbody>
            {% for historico in historicos %}
                <tr>
                    <td>{{ historico.aluno.nome }}</td>
                    <td>{{ historico.livro.titulo }}</td>
                    <td>{{ historico.data_emprestimo|date:"d/m/Y" }}</td>
                    <td>{{ historico.data_prev|date:"d/m/Y" }}</td>
                    <td>{{ historico.data_devolucao|date:"d/m/Y" }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Sem empréstimos cadastrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock content %}
