{% block content %}
<form id="filtroForm" class="row g-3">
    <div class="col-md-3">
        <select name="sexo" class="form-select">
            <option value="titulo">Título</option>
            <option value="aluno">Aluno</option>
            <option value="data">Data</option>
        </select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Digite sua busca...">
    </div>
    <div class="col-md-3">
        <button type="submit"style="margin: 0" class="btn btn-primary w-100">Filtrar</button>
    </div>
</form>
<div class="row">
    {% for historico in historicos %}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-header bg-white">
                <h5 class="card-title mb-0">{{ historico.livro.titulo }}</h5>
                <small class="text-muted">Número: {{ historico.id }}</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="mb-1"><strong>Aluno:</strong></p>
                        <p class="mb-1"><strong>Data:</strong></p>
                        <p class="mb-1"><strong>Devolução:</strong></p>
                    </div>
                    <div class="col-6">
                        <p class="mb-1">{{ historico.aluno.nome }}</p>
                        <p class="mb-1">{{ historico.data_emprestimo|date:"d/m/Y" }}</p>
                        <p class="mb-1">{{ historico.data_devolucao|date:"d/m/Y" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="alert alert-info">Nenhum Empréstimo encontrado.</div>
    </div>
    {% endfor %}
</div>
{% endblock content %}