{% block content %}
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <!-- Tabela de Livros -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Registro</th>
                    <th>Autor</th>
                    <th>Título</th>
                    <th>Exemplar</th>
                    <th>Edição</th>
                    <th>Ano</th>
                    <th>Vol</th>
                    <th>Editora</th>
                    <th>Detalhe</th>
                </tr>
            </thead>
            <tbody>
                {% for livro in livros %}
                    <tr>
                        <td>{{ livro.registro }}</td>
                        <td>{{ livro.autor }}</td>
                        <td>{{ livro.titulo }}</td>
                        <td>{{ livro.exemplar }}</td>
                        <td>{{ livro.edicao }}</td>
                        <td>{{ livro.ano }}</td>
                        <td>{{ livro.vol }}</td>
                        <td>{{ livro.editora }}</td>
                        <td><a href="{% url 'detalhes_livro' livro.id %}">Detalhes</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="11">Nenhum livro encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}