{% extends 'base.html' %}

{% block content %}
<div class="card border-0 shadow-sm">
  <div class="card-header bg-white border-bottom">
      <h3 class="mb-0">Entrar</h3>
  </div>
  <div class="card-body">
      <!-- Seu conteúdo aqui --> 
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class='btn btn-primary' type="submit">
        <i class="fas fa-user"></i> Entrar</button>
        <a href="{% url 'landing_page' %}" class='btn btn-primary'>
        <i class="fas fa-arrow-left"></i> Voltar</a>
      </form>
  </div>
</div>

{% endblock %}
